@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');
body {
	font-size: 16px;
	line-height: 1em;
	margin: 2em;
	text-align: center;
	background: #FFF;
	color: #000;
}

h1{
	font-family: Bellefair, serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}

#slogan{
	font-family: Bellefair, serif;
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

p.beer{
	font-family: 'Roboto Condensed', sans-serif;

}

ul{
	text-align: left;
}