@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');
body {
	font-size: 16px;
	line-height: 1em;
	margin: 2em;
	background: #A9A9A9;
	color: #000;
}

.header {
	border: 2px solid black;
	display: inline-block;
	background-color: #A9A9A9;
	text-align: left;
}
	

.topnav {
    overflow: hidden;
    background-color: #A9A9A9;
}

.topnav a {
    float: right;
    display: block;
    background-color: #A9A9A9;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background-color: #000;
	color: #A9A9A9;
}

.column {
	background-color: #A9A9A9;
	float: left;
	width: 50%;
	padding: 1%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	font-family: Bellefair, serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: left;
}

h2 {
	font-family: Bellefair, serif;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
	display: inline;
}

#slogan { 
	font-family: Bellefair, serif;
	font-size: 1.5em;
	font-style: italic;
	text-align: left;
}

p.beer {
	font-family: 'Roboto Condensed', sans-serif;
}

ul {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #A9A9A9;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

#two_column {
	background-color: #808080;
	border: 1px black solid;
	padding: .5%;
}

#left {
	background-color: #A9A9A9;
	border: 1px black solid;
	padding: 2%;
	float: left;
	width: 30%;
}

#right {
	background-color: #A9A9A9;
	border: 1px black solid;
	padding: 1%;
	float: right;
	width: 50%;
}

footer {
	background-color: #A9A9A9;
	padding: 10px;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 764px) {
    .column, .topnav, #left, #right {
    	float: none;
        width: auto;
    }
    .topnav a {
    	margin: 0 1.6em .75em 0;
    }
}