@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');
body {
	font-size: 16px;
	line-height: 1em;
	margin: 2em;
	background: #FFF;
	color: #000;
}

header {
	text-align: left;
	border: 2px solid black;
	padding-left: 3px 10px;
}

nav {
	text-align: right;
	display: block;
}

li a: hover {
	background: #555
	color: white;
}

#hero {
	text-align: left;
}

#description {
	text-align: right;
}

h1 {
	font-family: Bellefair, serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

#slogan { 
	font-family: Bellefair, serif;
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

p.beer {
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px black solid;

}

ul {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
}
p {
	font-family: 'Roboto Condensed', sans-serif;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}