@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');
body {
	font-size: 16px;
	line-height: 1em;
	margin: 2em;
	background: #FFF;
	color: #000;
}

header {
	background: #FFED74;
	text-align: left;
	border: 2px solid black;
	padding: 2px;
	display: inline-block;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background: #E8C66A;
	color: black;
}

.column {
	float: left;
	width: 50%;
	padding 15px;
}

h1 {
	font-family: Bellefair, serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: left;
}

h2 {
	border-bottom: 2px solid black;
	display: inline-block;
}

#slogan { 
	font-family: Bellefair, serif;
	font-size: 24px;
	font-style: italic;
	text-align: left;
}

p.beer {
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px black solid;
	margin: 3px;
}

ul {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

footer {
	background: #FF957E;
}