@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Condensed');
body {
	font-size: 16px;
	line-height: 1em;
	margin: 2em;
	background: #FFF;
	color: #000;
}

header {
	text-align: left;
	border: 2px solid black;
	display: inline-block;
}

.topnav {
	overflow: hidden;
	background: #333;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background: #ddd
	color: black;
}

#hero {
	text-align: left;
}

#description {
	text-align: right;
}

h1 {
	font-family: Bellefair, serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: left;
}

h2 {
	border-bottom: 4px solid black;
	display: inline-block;
}

#slogan { 
	font-family: Bellefair, serif;
	font-size: 24px;
	font-style: italic;
	text-align: left;
}

p.beer {
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px black solid;
	margin: 3px;

}

ul {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
}
p {
	font-family: 'Roboto Condensed', sans-serif;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}