body{
	text-align: center;
	background: #2554AA;
}

h1{
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}

#slogan{
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

p{
	font-family: "Courrier New";
}

ul{
	list-style-position: inside;
}