body{
	text-align: center;
	background: #00FF99;
}
h1{
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}
#slogan{
	font-size: 24px;
	font-style: italic;
}
p{
	font-family: "Courrier New";
	text-align: left;
}
ul{
	text-align: center;
}
